body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 82.5%;
	width: 1920px;
	margin: 0 auto;
	padding: 1em;
	border: 1px solid navy;
}

h1	{ 
	margin: 0;
	padding: .25em;
	font-size: 250%;
	color: navy;
}

h2	{
	margin 0;
	padding: .25em;
	font-size: 175%;
	color: navy;
}

img	{
	margin: 0 1em;
}

p{
	margin: 0;
	padding-bottom: .5em;
}